*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

hr {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.heading-primary {
  color: #373435;
  text-transform: uppercase;
  display: block;
  font-size: 42px;
  font-weight: 500;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.heading-tertiary--yellow {
  color: #ffc700;
}

.heading-tertiary--white {
  color: #ffffff;
}

.heading-subtertiary {
  font-size: 1.8rem;
  font-weight: 500;
}

.heading-subtertiary--yellow {
  color: #ffc700;
}

.heading-subtertiary--white {
  color: #ffffff;
}

.paragraph {
  font-size: 16px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-huge {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-big {
  margin-top: 5rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.btn, .btn:link, .btn:visited {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  background: none;
  cursor: pointer;
}

.btn--white-outline {
  border: 2px solid #fff;
  color: #fff;
}

.btn-search, .btn-search:link, .btn-search:visited {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  background-color: #ffc700;
  cursor: pointer;
  color: #202439;
}

.card {
  position: relative;
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--up {
  width: 40.5rem;
  height: 26rem;
  background-image: url(/img/courseCardBackground.png);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  position: absolute;
  border-radius: 0.5rem;
  overflow: hidden;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card--up__textbox {
  position: absolute;
  top: 15rem;
  left: 4rem;
}

.card--up__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 2.8rem;
}

.card--up__icon--container {
  height: 5.5rem;
  width: 4.2rem;
  position: absolute;
  top: 3.2rem;
  left: 31rem;
  display: inline-block;
}

.card--up__icon--container img {
  height: 100%;
}

.card--down {
  width: 39rem;
  height: 17rem;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  bottom: -30%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card--down__textbox {
  padding: 2rem;
  margin: 2rem;
  display: inline-block;
  position: relative;
}

.card--down__text {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 400;
  text-align: center;
}

.card--down a {
  position: absolute;
  left: 25%;
  margin-top: 2rem;
}

.card:hover .card--down {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.footer__container {
  background-color: #202439;
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 1rem 7rem;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem;
}

.footer__logo {
  height: 100%;
}

.footer__logo-container {
  height: 6rem;
  width: 100%;
  max-width: 20rem;
}

.footer__logo--icon-container {
  margin-left: 25%;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__logo--icon-container img {
  max-width: 2.4rem;
}

.footer__contact {
  max-width: 42rem;
}

.footer__contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact--phone, .footer__contact--mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.footer__contact--icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 1rem;
}

.footer__contact--text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
}

.footer__contact--location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact--location p {
  font-size: 1.2rem;
}

.footer__middle {
  margin: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__navbar-item {
  list-style: none;
  margin-right: 5rem;
}

.footer__navbar-item a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
}

.footer__navbar-item--yellow a {
  color: #ffc700;
  font-weight: 700;
}

.footer__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.footer__search--container {
  min-width: 42rem;
  height: 4rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.footer__search--text {
  padding-left: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.footer__bottom {
  margin: 3rem 2rem;
}

.footer__bottom--list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom--list-item a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.footer__copyright {
  height: 5rem;
  background-color: #ffc700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright p,
.footer__copyright a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #202439;
  text-align: center;
}

.header {
  height: 100px;
  background-size: cover;
  background-position: top;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-box {
  position: absolute;
  top: 15px;
  left: 40px;
}

.header__logo {
  height: 69.04px;
  width: 233px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header__link {
  color: #373435;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.section-about {
  height: 511px;
  background: linear-gradient(159.17deg, #ffc700 33.66%, rgba(255, 199, 0, 0.83) 81.72%);
  opacity: 0.76;
  background-size: cover;
  -webkit-clip-path: ellipse(100% 55% at 48% 44%);
          clip-path: ellipse(100% 55% at 48% 44%);
}

.section-hero .swiper {
  width: 100%;
  height: 100%;
}

.section-hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-courses {
  margin-bottom: 30rem;
}
/*# sourceMappingURL=main.css.map */