/*
0-600px:        Phone
600-900px:      Tablet Potrait
900-1200px:     Tablet Landscape
1200-1800px:    Desktop
1800px +:       Big Desktop
breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  max-width: 100%;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px !important;
  }
}

hr {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.heading-primary {
  color: #373435;
  text-transform: uppercase;
  display: block;
  font-size: 4.8rem;
  font-weight: 500;
}

.heading-secondary {
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #373435;
}

.paragraph {
  font-size: 1.6rem;
  color: #373435;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.heading-tertiary--yellow {
  color: #ffc700;
}

.heading-tertiary--white {
  color: #ffffff;
}

.heading-subtertiary {
  font-size: 1.8rem;
  font-weight: 500;
}

.heading-subtertiary--yellow {
  color: #ffc700;
}

.heading-subtertiary--white {
  color: #ffffff;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.mr-0 {
  margin-right: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.u-margin-bottom-huge {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-big {
  margin-top: 5rem !important;
}

.u-margin-top-medium {
  margin-top: 3rem !important;
}

.border-none {
  border: none !important;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 1rem;
  width: 1rem;
  margin: 5px;
  background: #373435 !important;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.owl-dots .owl-dot.active {
  background: #ffc700 !important;
  width: 2rem;
}

.btn, .btn:link, .btn:visited {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
  background: none;
  cursor: pointer;
}

.btn--blue-outline {
  color: #202439;
  border: 2px solid #202439;
}

.btn--blue-outline:hover {
  color: #202439;
}

.btn--grey-outline {
  color: #373435;
  border: 2px solid #373435;
}

.btn--grey-outline:hover {
  color: #373435;
}

.btn--white-outline {
  border: 2px solid #fff;
  color: #fff;
}

.btn--white-outline:hover {
  color: #fff;
}

.btn-search, .btn-search:link, .btn-search:visited {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  background-color: #ffc700;
  cursor: pointer;
  color: #202439;
}

@media only screen and (max-width: 62em) {
  .btn-search, .btn-search:link, .btn-search:visited {
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    font-size: 1.6rem;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--up {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  position: absolute;
  display: contents;
  border-radius: 0.5rem;
  overflow: hidden;
  top: 0;
  z-index: 5;
  padding: 2rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card--up__textbox {
  padding-left: 1rem;
}

.card--up__text {
  color: #ffffff;
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 0;
}

.card--up__icon--container {
  margin-top: 1rem;
  margin-right: 1rem;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card--up__icon--container img {
  height: 100%;
}

.card--down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  border-radius: 5px;
  -webkit-box-shadow: 0 1.5rem 4rem #0002;
          box-shadow: 0 1.5rem 4rem #0002;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  padding: 3rem;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
  bottom: -9rem;
}

.card--down__textbox {
  -webkit-transform: scale(0);
          transform: scale(0);
  display: block;
  position: relative;
  text-align: center;
}

.card--down__text {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 400;
  text-align: center;
}

.card--down a {
  margin-top: 2rem;
}

.card:hover .card--down {
  height: 100%;
  bottom: -100%;
}

.card:hover .card--down__textbox {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 990px) {
  .card--down {
    height: 100%;
    bottom: -100%;
  }
  .card--down__textbox {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.blog__card {
  min-height: 21rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__card--up {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  border-radius: 0.5rem;
  overflow: hidden;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__card--up img {
  height: 100%;
}

.blog__card--down {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 2rem;
  background-color: #ffffff;
}

.blog__card--heading-small {
  padding: 1px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #373435;
  text-transform: uppercase;
}

.blog__card--heading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #373435;
}

.blog__card--text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #373435;
}

.blog__card--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.blog__card--user-name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #373435;
  margin-bottom: 0rem;
}

.blog__card--user-date {
  font-size: 1.2rem;
  font-weight: 300;
  color: #373435;
}

.blog__card--user-img {
  min-height: 1.4rem;
}

.blog__card--user img {
  height: 100%;
  margin-right: 2rem;
}

.footer__container {
  background-color: #202439;
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 1rem 7rem;
}

@media only screen and (max-width: 75em) {
  .footer__container {
    padding: 1rem 3rem;
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem;
}

@media only screen and (max-width: 75em) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__logo {
  height: 100%;
}

.footer__logo-container {
  height: 6rem;
  width: 100%;
  max-width: 20rem;
}

@media only screen and (max-width: 75em) {
  .footer__logo-container {
    margin-bottom: 2rem;
  }
}

.footer__logo--icon-container {
  margin-left: 25%;
  height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__logo--icon-container img {
  max-width: 2.4rem;
}

.footer__contact {
  max-width: 42rem;
}

.footer__contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact--phone, .footer__contact--mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}

.footer__contact--icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 1rem;
}

.footer__contact--text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
}

.footer__contact--location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contact--location p {
  font-size: 1.2rem;
}

.footer__middle {
  margin: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 75em) {
  .footer__middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .footer__navbar {
    margin-bottom: 4rem;
  }
}

.footer__navbar-item {
  list-style: none;
  margin-right: 5rem;
}

@media only screen and (max-width: 75em) {
  .footer__navbar-item {
    margin-right: auto;
  }
}

.footer__navbar-item a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
}

.footer__navbar-item--yellow a {
  color: #ffc700;
  font-weight: 700;
}

.footer__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.footer__search--container {
  height: 4rem;
  border-radius: 0.5rem;
}

.footer__search--text {
  padding-left: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.footer__bottom {
  margin: 3rem 2rem;
}

.footer__bottom--list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

@media only screen and (max-width: 75em) {
  .footer__bottom--list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__bottom--list-item a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.footer__copyright {
  height: 5rem;
  background-color: #ffc700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright p,
.footer__copyright a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #202439;
  text-align: center;
}

.header {
  height: 10rem;
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 100%;
}

.header__logo-container {
  height: 6.4rem;
  width: 100%;
  max-width: 24rem;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar-container {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar-item {
  margin: 2rem 1.5rem;
  padding: 1rem;
  list-style: none;
}

.header__navbar-item a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #373435;
}

.nav {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 1rem;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.6rem;
}

.nav > .nav-links > a.link {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #202439;
}

.nav > .nav-links > a.link:hover {
  background-color: #efefef;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 1000px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 100;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    color: #202439;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: #efefef;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #202439;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #fff;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a.link {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 100vh;
    overflow-y: auto;
    top: 0;
    padding-top: 4rem;
  }
}

.section-hero {
  background: url(../../img/heroBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
}

.section-hero__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-hero__container > div {
  width: 100%;
}

.section-hero__content {
  height: 100%;
}

.section-hero__content--header {
  margin-bottom: 3rem;
}

.section-hero__content--header h1:after {
  margin-bottom: 3rem;
  display: block;
  content: "";
  width: 40%;
  height: 5px;
  background: #ffc700;
}

.section-hero__content--header .paragraph {
  max-width: 40rem;
}

.section-hero__content--cta {
  display: inline-block;
}

@media only screen and (max-width: 62em) {
  .section-hero__content--cta {
    display: block;
  }
}

.section-hero__content--cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 38rem;
  margin: auto;
}

@media only screen and (max-width: 62em) {
  .section-hero__content--cta-container {
    max-width: 38rem;
    min-width: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-hero__content--cta-card {
  width: 15rem;
  padding: 1.5rem;
  margin: 2rem;
  background: #202439;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
}

.section-hero__content--cta-card > p {
  color: #fff;
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
}

.section-hero__content--cta-card .strip {
  position: relative;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  margin: 1rem auto;
  left: -2.5rem;
  padding: 1rem;
  width: calc(100% + 5rem);
  background: #ffc700;
  -webkit-box-shadow: 4px 4px 10px #0003;
          box-shadow: 4px 4px 10px #0003;
}

.section-hero__content--cta-card .strip::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1rem;
  left: 0;
  border-right: 0px solid transparent;
  border-left: 1rem solid transparent;
  border-top: 1rem solid #d1a403;
  height: 1rem;
  width: 1rem;
}

.section-hero__content--cta-card .strip > p {
  color: #202439;
  line-height: 1.2;
  margin: 0;
  font-size: 1rem;
}

.section-hero__content--cta-card .strip > p:last-child {
  font-size: 1.4rem;
  font-weight: 500;
}

.section-hero__content--cta-card button {
  width: 100%;
  font-size: 1.2rem;
}

.section-hero__content--contact {
  text-align: center;
  margin: 1rem auto;
}

.section-hero__content--contact p {
  font-size: 1.4rem;
  color: #202439;
}

.section-hero__content--contact a {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.5rem 3rem !important;
}

.section-hero__content--contact a img {
  margin-right: 1rem;
}

.section-hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero__image img {
  width: 100%;
}

.section-updates {
  margin: 5rem auto;
}

.section-updates__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-updates__container > div {
  margin: 2rem;
}

.section-updates__important-header, .section-updates__latest-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #202439;
  color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
}

.section-updates__important-header span, .section-updates__latest-header span {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-left: 1rem;
  position: relative;
  background: #ff2732;
  -webkit-box-shadow: 0 0 5px #ff2732;
          box-shadow: 0 0 5px #ff2732;
}

.section-updates__important-header span::after, .section-updates__latest-header span::after {
  content: "";
  display: block;
  background: #ff2732;
  height: 2rem;
  opacity: 0;
  width: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0 0 #ff2732;
          box-shadow: 0 0 0 #ff2732;
}

.section-updates__important-header span:hover::after, .section-updates__latest-header span:hover::after {
  opacity: 0.6;
  scale: 1;
  -webkit-box-shadow: 0 0 10px #ff2732;
          box-shadow: 0 0 10px #ff2732;
}

.section-updates__important-header h3, .section-updates__latest-header h3 {
  margin-bottom: 0;
}

.section-updates__important-list-wrapper, .section-updates__latest-list-wrapper {
  padding: 1rem;
  position: relative;
  top: -1rem;
  z-index: -1;
  background: #fff;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
}

.section-updates__important-list-wrapper ul, .section-updates__latest-list-wrapper ul {
  list-style: none;
  padding: 0;
}

.section-updates__important-list-wrapper ul li, .section-updates__latest-list-wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  background: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 3px #0003;
          box-shadow: 0 0 3px #0003;
}

.section-updates__important-list-wrapper ul li .date, .section-updates__latest-list-wrapper ul li .date {
  color: #202439;
  text-align: center;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 2px solid #373435;
}

.section-updates__important-list-wrapper ul li .date p:first-child, .section-updates__latest-list-wrapper ul li .date p:first-child {
  font-size: 2rem;
  font-weight: 500;
}

.section-updates__important-list-wrapper ul li .date p, .section-updates__latest-list-wrapper ul li .date p {
  font-size: 1.2rem;
  margin: 0;
}

.section-updates__important-list-wrapper ul li .details, .section-updates__latest-list-wrapper ul li .details {
  margin-right: auto;
}

.section-updates__important-list-wrapper ul li .details p, .section-updates__latest-list-wrapper ul li .details p {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 500;
}

.section-updates__important-list-wrapper ul li img, .section-updates__latest-list-wrapper ul li img {
  padding-right: 1rem;
}

.section-main-carousel {
  margin: 2rem auto;
}

.section-main-carousel .main-carousel .item {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-main-carousel .main-carousel .item .item-content {
  background: #fff;
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
  border-radius: 1rem;
  padding: 2rem;
}

.section-main-carousel .main-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-main-carousel .main-carousel .owl-nav .owl-prev {
  left: -1rem;
}

.section-main-carousel .main-carousel .owl-nav .owl-next {
  right: -1rem;
}

.section-main-carousel .main-carousel .owl-nav .owl-prev,
.section-main-carousel .main-carousel .owl-nav .owl-next {
  position: relative;
  height: 5rem;
  width: 5rem;
  font-size: 4rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffc700;
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
}

.section-main-carousel .main-carousel .owl-nav .owl-prev span,
.section-main-carousel .main-carousel .owl-nav .owl-next span {
  margin-top: -5px;
}

.section-whyus {
  padding: 5rem 0;
  margin: 5rem auto;
  background: linear-gradient(159.17deg, #ffc700aa 33.66%, #ffc700dd 81.72%);
  background-size: cover;
  -webkit-clip-path: ellipse(100% 55% at 48% 44%);
          clip-path: ellipse(100% 55% at 48% 44%);
  text-align: center;
}

.section-whyus p {
  font-size: 1.6rem;
}

.section-whyus--card {
  background: #202439;
  max-width: 25rem;
  padding: 2rem;
  padding-bottom: 0;
  margin: 2rem auto;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 10px 5px #0003;
          box-shadow: 10px 10px 5px #0003;
}

.section-whyus--card p {
  color: #fff;
  font-size: 2.4rem;
  text-align: left;
  height: 10rem;
  font-weight: 500;
}

.section-whyus--card p:first-child {
  color: #ffc700;
  font-size: 4.8rem;
  height: auto;
  margin-bottom: 0;
}

.section-whyus--card img {
  display: block;
  margin-left: auto;
}

.section-pp {
  padding: 5rem 0;
  margin: 5rem auto;
  background: url(/img/pp-background.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.section-pp .title {
  color: #fff;
  text-align: center;
}

.section-pp__container {
  margin: 5rem auto;
}

.section-pp__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 2rem auto;
}

.section-pp__item-image {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  position: relative;
  left: 5rem;
}

.section-pp__item-image img {
  height: 100%;
}

.section-pp__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  padding-left: 5rem;
  min-height: 10rem;
  width: 100%;
}

.section-pp__item-text p {
  font-size: 2.4rem;
  font-weight: 500;
}

.section-hero .swiper {
  width: 100%;
  height: 100%;
}

.section-hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-courses h1 {
  margin: 5rem auto;
}

.section-courses .card {
  min-height: 25rem;
  margin-bottom: 28rem;
}

.section-courses .card--up {
  background-image: url(/img/courseCardBackground.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-testimonials {
  background: url(../../img/heroBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 0;
}

.section-testimonials .title {
  margin: 2rem auto;
  text-align: center;
}

.section-testimonials .title h1 {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.section-testimonials .title h1::before {
  content: "";
  background: url("../../img/quotes.svg");
  background-size: cover;
  color: #ffc700;
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: -2rem;
  z-index: 0;
  left: -4rem;
}

.section-testimonials .card {
  border-radius: 1rem;
}

.section-testimonials .card--up {
  width: 100%;
  border-radius: 1rem;
  background: transparent;
}

.section-testimonials .card--up img {
  width: 100%;
  border-radius: 1rem;
}

.section-testimonials .card--down p {
  text-align: left;
  font-size: 1.4rem;
}

.section-testimonials .card--down p img {
  max-width: 2rem;
  float: left;
}

.section-testimonials .card--down__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section-testimonials .card--down__profile img {
  max-height: 5rem;
  max-width: 5rem;
  margin-right: 10px;
  border-radius: 50%;
}

.section-testimonials .card--down__profile p {
  margin: 0;
}

.section-testimonials .card--down__profile p:first-child {
  font-weight: 400;
  font-size: 1.6rem;
}

.section-testimonials .card--down__profile p:last-child {
  font-weight: 300;
  font-size: 1.4rem;
}

.section-testimonials .card:hover .section-testimonials .card--down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.section-testimonials .owl-stage {
  margin-bottom: 25rem;
}

.section-testimonials .owl-stage .owl-item.active:first-child {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-testimonials .item {
  border-radius: 1rem;
}

.section-testimonials .item .item-content {
  background: #fff;
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
  border-radius: 1rem;
}

.section-testimonials .owl-stage .owl-item.active:first-child {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-blogs {
  margin: 5rem;
}

.section-blogs h1 {
  margin: 5rem auto;
}

.section-hero-about {
  background: url(/img/aboutHeroImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
}

.section-hero-about__container {
  width: 100%;
}

.section-hero-about__content {
  height: 100%;
}

.section-hero-about__content--header {
  margin-bottom: 5rem;
}

.section-hero-about__content--header > h1 {
  color: #202439;
}

.section-hero-about__content--header > p {
  color: #ffffff;
  line-height: 2.2rem;
}

.section-hero-about__content--header h1:after {
  margin-bottom: 3rem;
  display: block;
  content: "";
  width: 40%;
  height: 5px;
  background: #ffc700;
}

.section-about {
  margin: 4rem;
}

.section-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-about__heading {
  font-size: 3.6rem;
  color: #000000;
  text-align: center;
}

.section-about__heading--intro {
  font-weight: 500;
}

.section-about__heading--intro::after {
  display: block;
  content: "";
  width: 20%;
  height: 4px;
  background: #ffc700;
}

.section-about__text-container {
  margin: 1rem;
  padding: 1rem 3rem;
  max-width: 91rem;
  text-align: center;
}

.section-founder {
  padding: 5rem;
  padding-top: 10rem;
  margin: 5rem auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-48.73%, #202439), color-stop(81.72%, #202439));
  background: linear-gradient(0deg, #202439 -48.73%, #202439 81.72%);
  background-size: cover;
  -webkit-clip-path: ellipse(100% 95% at 48% 100%);
          clip-path: ellipse(100% 95% at 48% 100%);
}

.section-founder__text > h1 {
  font-size: 3.2rem;
  color: #ffffff;
}

.section-founder__text > h3 {
  font-size: 2.4rem;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.section-founder__text > p {
  color: #ffffff;
}

.section-founder img {
  width: 100%;
}

.section-features {
  margin: 4rem;
  margin-bottom: 10rem;
}

.section-features__container {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  background: url(/img/aboutHeroBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-features__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-features__quotes {
  height: 1.1rem;
}

.section-features__quotes--open {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.section-features__quotes--close {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-features__text {
  padding: 3rem;
}

.section-features__text p {
  line-height: 2.2rem;
}

.section-features > h1 {
  font-weight: 700;
  position: relative;
}

.section-features h1::after {
  display: block;
  content: "";
  position: absolute;
  right: 10%;
  width: 13%;
  height: 4px;
  background: #ffc700;
}

.section-salient {
  width: 100%;
  background: url(/img/salientBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
}

.section-salient__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-salient__text {
  padding: 2rem;
}

.section-salient h1 {
  font-size: 3.6rem;
}

.section-salient h1::after {
  color: #202439;
}

.section-salient p {
  font-weight: 400;
  position: relative;
  line-height: 1.8rem;
}

.section-salient p::before {
  content: "";
  background-image: url(/img/bullet.svg);
  height: 1.6rem;
  width: 1.6rem;
  background-size: cover;
  position: absolute;
  z-index: 0;
  left: -3rem;
}

.section-hero-courses {
  background: url(/img/coursesHeroImage.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero-courses__container {
  width: 100%;
}

.section-hero-courses__content {
  margin-top: 5rem;
  height: 100%;
  margin-bottom: 25rem;
}

.section-hero-courses__content--header {
  margin-bottom: 3rem;
}

.section-hero-courses__content--header > h1 {
  color: #ffffff;
}

.section-hero-courses__content--header h1:after {
  margin-bottom: 3rem;
  display: block;
  content: "";
  width: 20%;
  height: 5px;
  background: #ffc700;
}

.section-about-courses {
  margin-top: 4rem;
  padding: 2rem;
  background: url(/img/coursesAboutBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-about-courses p {
  line-height: 2.4rem;
}

.section-courses-courses {
  padding: 4rem;
}

.section-courses-courses .title {
  margin: 2rem auto;
  text-align: center;
}

.section-courses-courses .title h1 {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.section-courses-courses .title h1::before {
  content: "";
  background: url("../../img/quotes.svg");
  background-size: cover;
  color: #ffc700;
  position: absolute;
  height: 5rem;
  width: 5rem;
  top: -2rem;
  z-index: 0;
  left: -4rem;
}

.section-courses-courses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 48em) {
  .section-courses-courses__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-courses-courses__text {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 48em) {
  .section-courses-courses__text {
    width: 100%;
  }
}

.section-courses-courses__text p {
  font-weight: 400;
  line-height: 2rem;
  position: relative;
}

@media only screen and (max-width: 36em) {
  .section-courses-courses__text p {
    margin-left: 2rem;
  }
}

.section-courses-courses__text p::before {
  content: "";
  background-image: url(/img/bullet.svg);
  height: 1.6rem;
  width: 1.6rem;
  background-size: cover;
  position: absolute;
  left: -3rem;
}

@media only screen and (max-width: 36em) {
  .section-courses-courses__text p::before {
    left: -2.5rem;
  }
}

.section-courses-courses__image {
  background: url("/img/courseCardBackground.png");
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-size: cover;
  position: relative;
  padding: 2rem;
  left: -4rem;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 48em) {
  .section-courses-courses__image {
    left: 0;
    margin-bottom: 2rem;
  }
}

.section-courses-courses__image-text {
  padding: 2rem 0rem;
}

.section-courses-courses__image-text p {
  color: #ffffff;
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 0;
}

.section-courses-courses__icon {
  margin-left: 80%;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 36em) {
  .section-courses-courses__icon {
    margin-left: 70%;
  }
}

.section-courses-courses__icon img {
  height: 100%;
}

.section-detail-courses {
  padding: 4rem;
}

.section-detail-courses p {
  font-weight: 300;
  color: #373435;
  line-height: 2rem;
}

.section-hero-long-courses {
  background: url(/img/LongCoursesHeroImage.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.section-hero-long-courses__container {
  width: 100%;
}

.section-hero-long-courses__content {
  padding: 2rem;
}

.section-hero-long-courses__content--icon {
  display: inline-block;
  margin-top: 5%;
  margin-left: 90%;
  display: inline-block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2rem;
  width: 12rem;
  height: 8rem;
}

@media only screen and (max-width: 36em) {
  .section-hero-long-courses__content--icon {
    margin-left: 70%;
  }
}

.section-hero-long-courses__content--icon img {
  height: 100%;
}

.section-hero-long-courses__content--header {
  margin-top: 10%;
  margin-bottom: 3rem;
}

.section-hero-long-courses__content--header > h1 {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 500;
}

.section-hero-long-courses__content--header h1:after {
  margin-bottom: 3rem;
  display: block;
  content: "";
  width: 30%;
  height: 5px;
  background: #ffc700;
}

.section-about-long-courses {
  padding: 4rem;
}

.section-about-long-courses p {
  font-weight: 400;
  line-height: 2.4rem;
}

.section-scholarship-long-courses {
  padding: 5rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-48.73%, #202439), color-stop(81.72%, #202439));
  background: linear-gradient(0deg, #202439 -48.73%, #202439 81.72%);
  background-size: cover;
  -webkit-clip-path: ellipse(100% 95% at 50% 100%);
          clip-path: ellipse(100% 95% at 50% 100%);
}

.section-scholarship-long-courses__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-scholarship-long-courses h1 {
  margin: 5rem 0;
  font-size: 3.2rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.section-scholarship-long-courses h1:after {
  right: 0;
  display: block;
  position: absolute;
  left: 85%;
  content: "";
  width: 15%;
  height: 5px;
  background: #ffc700;
}

.section-scholarship-long-courses h4 {
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 400;
  width: 100%;
}

.section-scholarship-long-courses ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-scholarship-long-courses p {
  color: #ffffff;
  font-weight: 400;
  line-height: 2rem;
  position: relative;
  margin-left: 4rem;
}

.section-scholarship-long-courses p:last-child {
  left: -2.5rem;
}

.section-scholarship-long-courses p:not(:last-child)::before {
  content: "";
  background-image: url(/img/whiteBullet.svg);
  color: #ffffff;
  height: 1.6rem;
  width: 1.6rem;
  background-size: cover;
  position: absolute;
  left: -2.5rem;
}

.section-more-long-courses {
  padding: 4rem;
  margin-bottom: 20rem;
  width: 100%;
}

.section-more-long-courses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-more-long-courses h1 {
  font-size: 3.2rem;
  padding: 2rem;
}

.section-more-long-courses h1:after {
  margin-bottom: 3rem;
  display: block;
  content: "";
  width: 60%;
  height: 5px;
  background: #ffc700;
}

.section-hero-contact {
  background: url(/img/contactHeroImage.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-hero-contact__container {
  width: 100%;
}

.section-hero-contact__content {
  margin-top: 15rem;
  height: 100%;
  margin-bottom: 20rem;
}

.section-hero-contact__content--header {
  margin-bottom: 3rem;
}

.section-hero-contact__content--header > h1 {
  color: #ffffff;
}

.section-hero-contact__content--header h1:after {
  margin-bottom: 3rem;
  display: block;
  content: "";
  width: 20%;
  height: 5px;
  background: #ffc700;
}

.section-form-contact {
  width: 100%;
}

.section-form-contact__container {
  padding: 8rem 8rem 4rem 8rem;
  margin: 4rem;
  margin-top: 8rem;
  width: 85%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media only screen and (max-width: 48em) {
  .section-form-contact__container {
    padding: 4rem 4rem 2rem 4rem;
  }
}

.section-form-contact__header {
  padding: 1rem 3rem;
  background-color: #202439;
  border-radius: 0.5rem;
  position: absolute;
  top: -3rem;
}

.section-form-contact__header h1 {
  color: #ffffff;
  font-size: 3.2rem;
}

@media only screen and (max-width: 48em) {
  .section-form-contact__header h1 {
    font-size: 1.8rem;
  }
}

.section-form-contact__detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 48em) {
  .section-form-contact__detail-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-form-contact .section-form-contact__detail:not(:last-child) {
  margin-right: 4rem;
}

@media only screen and (max-width: 48em) {
  .section-form-contact .section-form-contact__detail:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.section-form-contact .section-form-contact__address,
.section-form-contact .section-form-contact__message {
  padding-bottom: 4rem;
}

.section-form-contact__line {
  width: 100%;
  margin-bottom: 3rem;
}

.section-form-contact__line input {
  padding: 1rem;
  width: 100%;
  size: 1.6rem;
  font-weight: 400;
  border-radius: 4px;
  color: rgba(32, 36, 57, 0.3);
  border: 1px solid rgba(32, 36, 57, 0.3);
}

.section-form-contact p {
  font-size: 1.2rem;
}

@media (max-width: 960px) {
  .section-hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-hero__container .heading-primary {
    display: inline-block;
    margin: auto;
  }
  .section-hero__container .paragraph {
    margin: auto;
  }
  .section-hero__container > div {
    width: 100%;
    text-align: center;
  }
  .section-hero__image img {
    width: 100%;
    max-width: 50rem;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */