.section-hero {
  background: url(../../img/heroBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 5rem;

  &__container {
    width: 100%;
  }

  &__content {
    height: 100%;

    &--header {
      margin-bottom: 3rem;

      & h1:after {
        margin-bottom: 3rem;
        display: block;
        content: "";
        width: 40%;
        height: 5px;
        background: $color-secondary;
      }
    }

    &--cta {
      display: flex;
      align-items: center;

      &-card {
        padding: 1.5rem;
        margin-left: 2rem;
        margin-right: 5rem;
        background: $color-primary;
        color: #fff;
        text-align: center;
        border-radius: 1rem;

        & > p {
          color: #fff;
          font-weight: 400;
          margin: 5px auto;
          font-size: $text;
        }

        & .strip {
          position: relative;
          border-radius: 5px;
          margin: 2rem auto;
          left: -3rem;
          padding: 1rem;
          width: calc(100% + 6rem);
          background: $color-secondary;
          box-shadow: 4px 4px 10px #0003;

          & > p {
            color: $color-primary;
            line-height: 1.2;
            font-size: $text-small;

            &:last-child {
              font-size: $text-big;
              font-weight: 500;
            }
          }
        }

        & button {
          width: 100%;
        }
      }
    }
  }

  &__image {
    display: flex;
    align-items: center;
    & img {
      width: 100%;
    }
  }
}

.section-about {
  height: 511px;
  background: linear-gradient(
    159.17deg,
    #ffc700 33.66%,
    rgba(255, 199, 0, 0.83) 81.72%
  );
  opacity: 0.76;
  background-size: cover;
  clip-path: ellipse(100% 55% at 48% 44%);
}
