.section-about {
  height: 511px;
  background: linear-gradient(
    159.17deg,
    #ffc700 33.66%,
    rgba(255, 199, 0, 0.83) 81.72%
  );
  opacity: 0.76;
  background-size: cover;
  clip-path: ellipse(100% 55% at 48% 44%);
}
