.footer {
  &__container {
    background-color: #202439;
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 1rem 7rem;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
  }

  &__logo {
    height: 100%;

    &-container {
      height: 6rem;
      width: 100%;
      max-width: 20rem;
    }

    &--icon-container {
      margin-left: 25%;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        max-width: 2.4rem;
      }
    }
  }

  &__contact {
    max-width: 42rem;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--phone,
    &--mail {
      display: flex;
      margin-top: 3rem;
    }

    &--icon {
      height: 2.4rem;
      width: 2.4rem;
      margin-right: 1rem;
    }

    &--text {
      font-size: 1.4rem;
      font-weight: 400;
      color: $color-white;
    }

    &--location {
      width: 100%;
      display: flex;

      p {
        font-size: 1.2rem;
      }
    }
  }

  &__middle {
    margin: 3rem 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // &-container {
    //   display: flex;

    //   align-items: center;
    // }

    &-item {
      list-style: none;
      margin-right: 5rem;

      a {
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-white;
      }

      &--yellow {
        a {
          color: #ffc700;
          font-weight: 700;
        }
      }
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;

    &--container {
      min-width: 42rem;
      height: 4rem;
      background-color: $color-white;
      border-radius: 0.5rem;
    }

    &--text {
      padding-left: 2rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__bottom {
    margin: 3rem 2rem;

    &--list {
      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-item {
        a {
          font-size: 1.6rem;
          font-weight: 400;
          color: $color-white;
        }
      }
    }
  }

  &__copyright {
    height: 5rem;
    background-color: #ffc700;
    display: flex;
    align-items: center;
    justify-content: center;

    p,
    a {
      font-size: 1.6rem;
      font-weight: 400;
      color: #202439;
      text-align: center;
    }
  }
}
