.footer {
  &__container {
    height: 142rem;
    background-color: #202439;
    background-size: cover;
    background-position: top;
    position: relative;
    padding: 1rem 7rem;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  &__logo {
    height: 100%;

    &-container {
      height: 6rem;
      width: 100%;
      max-width: 20rem;
    }

    &--icon-container {
      margin-left: 25%;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        max-width: 2.4rem;
      }
    }
  }

  &__contact {
    width: 45rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: auto;
    }

    &--phone,
    &--mail {
      display: flex;
      margin-left: 2rem;
    }

    &--icon {
      height: 2.4rem;
      width: 2.4rem;
      margin-right: 1rem;
    }

    &--text {
      font-size: 1.4rem;
      font-weight: 400;
      color: $color-white;
    }

    &--location {
      width: 100%;
      display: flex;
      margin-left: 2rem;

      p {
        font-size: 1.2rem;
      }
    }
  }

  &__middle {
    &--heading {
      padding-left: 5rem;
      padding-right: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &-container {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &-item {
      margin: 2rem 1.5rem;
      padding: 1rem;
      list-style: none;

      & a {
        font-size: 1.6rem;
        font-weight: 500;
        color: $color-white;
      }
    }
  }

  &__bottom {
    &--list {
      &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-item {
        a {
          font-size: 1.6rem;
          font-weight: 400;
          color: $color-white;
        }
      }
    }
  }

  &__copyright {
    height: 5rem;
    background-color: #ffc700;
    display: flex;
    align-items: center;
    justify-content: center;

    p,
    a {
      font-size: 1.6rem;
      font-weight: 400;
      color: #202439;
      text-align: center;
    }
  }
}
