.header {
  height: 100px;
  background-size: cover;
  background-position: top;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__logo-box {
    position: absolute;
    top: 15px;
    left: 40px;
  }

  &__logo {
    height: 69.04px;
    width: 233px;
  }

  &__list { 
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  &__link {
    color: #373435;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }
}
