.header {
  height: 10rem;
  background-size: cover;
  background-position: top;
  background: #fff;
  transition: all 0.3s;
  z-index: 999;

  &-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 1rem #0003;
  }

  & .container {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 100%;

    &-container {
      height: 6.4rem;
      width: 100%;
      max-width: 24rem;
    }
  }

  &__navbar {
    display: flex;
    align-items: center;

    &-container {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &-item {
      margin: 2rem 1.5rem;
      padding: 1rem;
      list-style: none;

      & a {
        font-size: $text;
        font-weight: 500;
        color: $color-grey-dark;
      }
    }
  }
}
