.btn {
  &,
  &:link,
  &:visited {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: $text;
    text-align: center;
    font-weight: 500;
    background: none;
    cursor: pointer;
  }

  &--blue-outline {
    color: $color-primary;
    border: 2px solid $color-primary;
    &:hover {
      color: $color-primary;
    }
  }

  &--grey-outline {
    color: $color-grey-dark;
    border: 2px solid $color-grey-dark;
    &:hover {
      color: $color-grey-dark;
    }
  }

  &--white-outline {
    border: 2px solid #fff;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.btn-search {
  &,
  &:link,
  &:visited {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: $text-extra-small;
    text-align: center;
    font-weight: 500;
    background-color: $color-secondary;
    cursor: pointer;
    color: $color-primary;

    @include respond(tab-land) {
      padding: 0.5rem 3rem;
      border-radius: 1rem;
      font-size: $text;
    }
  }
}
