.btn {
  &,
  &:link,
  &:visited {
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    background: none;
    cursor: pointer;
  }

  //   &--grey-outline {
  //     color: $color-grey-dark;
  //     border: 2px solid $color-grey-dark;
  //   }

  &--white-outline {
    border: 2px solid #fff;
    color: #fff;
  }
}

.btn-search {
  &,
  &:link,
  &:visited {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    background-color: #ffc700;
    cursor: pointer;
    color: #202439;
  }
}
