.card {
  position: relative;
  display: flex;
  align-items: center;

  &--up {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    position: absolute;
    display: contents;
    border-radius: 0.5rem;
    overflow: hidden;
    top: 0;
    z-index: 5;
    padding: 2rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__textbox {
      padding-left: 1rem;
    }

    &__text {
      color: $color-white;
      font-weight: 500;
      font-size: 2.8rem;
      margin-bottom: 0;
    }

    &__icon--container {
      margin-top: 1rem;
      margin-right: 1rem;
      display: inline-block;
      align-self: flex-end;

      img {
        height: 100%;
      }
    }
  }

  &--down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem #0002;
    transition: all 0.5s;
    text-align: center;
    padding: 3rem;
    background-color: #ffffff;
    position: absolute;
    z-index: -1;
    bottom: -9rem;

    &__textbox {
      transform: scale(0);
      display: block;
      position: relative;
      text-align: center;
    }

    &__text {
      font-size: 1.6rem;
      color: $color-black;
      font-weight: 400;
      text-align: center;
    }

    a {
      margin-top: 2rem;
    }
  }

  &:hover &--down {
    height: 100%;
    bottom: -100%;
    &__textbox {
      transform: scale(1);
    }
  }
}

.card {
  min-height: 25rem;
  margin-bottom: 28rem;

  &--up {
    background-image: url("/img/courseCardBackground.png");

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

@media (max-width: 990px) {
  .card--down {
    height: 100%;
    bottom: -100%;
    &__textbox {
      transform: scale(1);
    }
  }
}

.blog__card {
  min-height: 21rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--up {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
    border-radius: 0.5rem;
    overflow: hidden;
    top: 0;
    z-index: 5;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    img {
      height: 100%;
    }
  }

  &--down {
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 2rem;
    background-color: #ffffff;
  }

  &--heading-small {
    padding: 1px;
    font-size: $text-extra-small;
    font-weight: 300;
    color: $color-grey-dark;
    text-transform: uppercase;
  }

  &--heading {
    font-size: $text-big;
    font-weight: 500;
    color: $color-grey-dark;
  }

  &--text {
    font-size: $text-extra-small;
    font-weight: 300;
    color: $color-grey-dark;
  }

  &--user {
    display: flex;
    margin-top: 2rem;

    &-name {
      font-size: $text-big;
      font-weight: 500;
      color: $color-grey-dark;
      margin-bottom: 0rem;
    }

    &-date {
      font-size: $text-extra-small;
      font-weight: 300;
      color: $color-grey-dark;
    }

    &-img {
      min-height: 1.4rem;
    }
    img {
      height: 100%;
      margin-right: 2rem;
    }
  }
}
