body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  //     line-height: ;
  //     color: $;
}

.heading-primary {
  color: $color-grey-dark;
  text-transform: uppercase;
  display: block;
  font-size: $text-extra-big;
  font-weight: 500;

  //     backface-visibility: hidden;
  //     margin-bottom: ;

  //     &--main {
  //         display: block;
  //         font-size: rem;
  //         font-weight: ;
  //         letter-spacing: rem;

  //         @include respond(phone) {
  //             letter-spacing: rem;
  //             font-family: rem;
  //         }
  //     }

  //     &--sub {
  //         display: block;
  //         font-size: rem;
  //         font-weight: ;
  //         letter-spacing: rem;

  //         @include respond(phone) {
  //             letter-spacing: rem;
  //         }
  //     }
}

// .heading-secondary {
//     font-size: rem;
//     text-transform: uppercase;
//     font-weight: ;
//     display: inline-block;

//     background-image: ;
//     color: ;
//     letter-spacing: rem;

//     @include respond(tab-port) {
//         font-size: rem;
//     }

//     @include respond(phone) {
//         font-size: rem;
//     }

// }

.heading-tertiary {
  font-size: $text-big;
  font-weight: 500;
  text-transform: uppercase;

  &--yellow {
    color: $color-secondary;
  }

  &--white {
    color: $color-white;
  }
}

.heading-subtertiary {
  font-size: $text-big;
  font-weight: 500;

  &--yellow {
    color: $color-secondary;
  }

  &--white {
    color: $color-white;
  }
}

.paragraph {
  font-size: $text;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}
