body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  //     line-height: ;
  //     color: $;
}

.heading-primary {
  color: #373435;
  text-transform: uppercase;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 500;

  //     backface-visibility: hidden;
  //     margin-bottom: ;

  //     &--main {
  //         display: block;
  //         font-size: rem;
  //         font-weight: ;
  //         letter-spacing: rem;

  //         @include respond(phone) {
  //             letter-spacing: rem;
  //             font-family: rem;
  //         }
  //     }

  //     &--sub {
  //         display: block;
  //         font-size: rem;
  //         font-weight: ;
  //         letter-spacing: rem;

  //         @include respond(phone) {
  //             letter-spacing: rem;
  //         }
  //     }
}

.heading-secondary {
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 500;

  color: $color-grey-dark;
}

// .heading-tertiary {
//     font-size: $text;
//     font-weight: ;
//     text-transform: uppercase;
// }

.paragraph {
  font-size: 16px;
  color: $color-grey-dark;

  // &:not(:last-child) {
  //     margin-bottom: rem;
  // }
}
