.mr-0 {
  margin-right: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.u-margin-bottom-huge {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-top-big {
  margin-top: 5rem !important;
}
.u-margin-top-medium {
  margin-top: 3rem !important;
}

.border-none {
  border: none !important;
}

.owl-dots {
  text-align: center;

  & .owl-dot {
    height: 1rem;
    width: 1rem;
    margin: 5px;
    background: $color-grey-dark !important;
    border-radius: 5px;
    transition: all 0.3s;

    &.active {
      background: $color-secondary !important;
      width: 2rem;
    }
  }
}
