// // COLORS
$color-primary: #202439;
$color-secondary: #ffc700;
$color-secondary-dark: #d1a403;
$color-tertiary: #ff2732;

$color-grey-dark: #373435;

$color-white: #ffffff;
$color-black: #000000;

// // FONT

$text-extra-smaller: 1rem;
$text-extra-small: 1.2rem;
$text-small: 1.4rem;
$text: 1.6rem;
$text-big: 1.8rem;
$text-bigger: 2.4rem;
$text-extra-big: 4.8rem;

// $default-font-size: rem;

// // GRID

// $grid-width: rem;
// $gutter-vertical: rem;
// $gutter-vertical-small: rem;
// $gutter-horizontal: rem;
