// // COLORS
$color-primary: #202439;

$color-secondary: #ffc700;

$color-tertiary: #ff2732;

// $color-grey-light-1: #;
// $color-grey-light-2: #;
$color-grey-dark: #373435;
// color-grey-dark-2: #;
// color-grey-dark-3: #;
// $color-white: #color-black: #;

// // FONT

$text-small: 1.4rem;
$text: 1.6rem;
$text-big: 1.8rem;

// // GRID

// $grid-width: rem;
// $gutter-vertical: rem;
// $gutter-vertical-small: rem;
// $gutter-horizontal: rem;
